asn1crypto==0.24.0
cffi==1.14.0
cryptography==2.1.4
decorator==4.1.2
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
jeepney==0.4.2
keyring==10.6.0
keyrings.alt==3.0
numpy==1.13.3
olefile==0.45.1
onnx==1.6.0
opencv-python==4.2.0.32
Pillow==5.1.0
protobuf==3.6.1
pycairo==1.19.1
pycparser==2.19
pycrypto==2.6.1
pyrealsense2==2.32.1.1346
pyxdg==0.25
scipy==0.19.1
SecretStorage==2.3.1
six==1.13.0
torch==1.4.0
typing-extensions==3.7.4.1
